.grow-button {
    box-sizing: border-box;
    width: 250px;
    height: 50px;
    background-color: orange;
    transition: .1s; 
}
.grow-button:hover {
    transform: translateY(5px);
    /* background-color: rgba(210, 210, 210, 0.123); */
}
@keyframes grow {
    0% {
        transform: ;
    }
}